html,
body {
  padding: 0;
  margin: 0;
/*  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;*/
    font-family: 'Montserrat', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/*Navbar*/
.myNavbarBg{
  background-color: #283963;
  font-family: 'Lato', sans-serif;
  height: 60px;
}
#navbarCollapse{
  background-color: #283963;
}
.navText{
  color: white; 
}
.navText:hover{
  color: #89a6ef; 
}
/* end Navbar*/

/*HOME PAGE*/
#landing-page{
  /*background-image: url(https://images.unsplash.com/photo-1504868584819-f8e8b4b6d7e3?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1055&q=80);*/
  background:url('https://images.unsplash.com/photo-1497465689543-5940d3cede89?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80') rgba(36,70,166,0.6);
  background-blend-mode: multiply;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
  color: white;
  padding-top: 10%;
}
.hero h1{
  font-size: 5rem;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
  height: 100%;
}
.hero p{
  font-size: 25px;
}
#weHelp{
  font-size: 4rem;
  font-weight: 400;
  color: #37508e; 
}
#getStarted{
  padding: 20px 23px;
  border-radius: 30px;
  margin-top: 5px;
  background-color: #17264b;
  font-size: 18px;
  font-weight: 400;
  color: white;
  outline: none;
}
#getStarted:hover {
  outline: white;
  background-color: white;
  color: #17264b;
}

/*END HOME PAGE*/


/*TRANSACTION PAGE*/
.transactionPageAll{
  background-color: #7388c3;
  padding: 10px;
    font-family: 'Roboto Slab', serif;
}
.actualTransactionPage{
  background-color: #7388c3;
  font-family: 'Roboto Slab', serif;

}

.transactionBox{
  /*margin-top: 4rem;*/
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  /*border-radius: 20px;*/
  padding: 20px;
  overflow-x: auto; 
  background-color: white;
}

.balanceContainer{
    /*justify-content: center;*/
    /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); border-radius: 30px;*/
    margin: auto;
    margin-top: 10px;
 /*   width: 50%;
    padding: 10px 0px;*/
    /*color: #283963;*/
}
.welcomeUser{
  /*color: #283963;*/
}
.incomeText{
    color: green;
}
.expenseText{
    color: maroon;
}

.transactionfilterType{
 display: flex;
 width: 100%;
}
#addBtn{
  width: 50%;
  margin-left: 20px;
  background-color: #283963;
  color: white;
}
#addBtn:hover{
  color: #283963;
  background-color: rgba(155,155,169,1);
}
#filterBtn{
  width: 50%;
  margin-left: 20px;
  background-color: #283963;
  color: white;
}
#filterBtn:hover{
  color: #283963;
  background-color: rgba(155,155,169,1);
}
.dropdown{
  margin: auto;
  width: 100%;
}
.searchTableContainer{
  margin-top: 10%;
}

/* END TRANSACTION PAGE*/



/* ADD TRANSACTION PAGE*/
.addTransactionPage{
  padding-top: 3%;
  padding-bottom: 5%;
font-family: 'Roboto Slab', serif;

}
.addTransactionForm{
  width: 100%;
  padding: 10px 20px;
  background: #f4f7f8;
  background: #f4f7f8;
font-family: 'Roboto Slab', serif;
}
.addTransactionForm label{
  font-size: 20px;
}
.addTransactionForm input, select{
font-family: 'Roboto Slab', serif;
  background: rgba(255,255,255,.5);
  border: none;
  border-radius: 4px;
  font-size: 15px;
  margin: 0;
  outline: 0;
  padding: 10px;
  width: 100%;
  box-sizing: border-box; 
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box; 
  background-color: #e8eeef;
  color:black;
  -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  margin-bottom: 30px;
}
#addTransactionBtn{
  background-color: #283963;
  position: relative;
  display: block;
  padding: 19px 39px 18px 39px;
  color: #FFF;
  margin: 0 auto;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  width: 100%;
  border-width: 1px 1px 3px;
  margin-bottom: 10px;
}
#addTransactionBtn:hover{
  color: white;
  background-color: rgba(155,155,169,1);
}
#addCategoryBtn{
  background-color: #283963;
  color: white;
}
#addCategoryBtn:hover{
 color: white;
  background-color: rgba(155,155,169,1);
}
.addCategoryContainer{
  padding-top: 100px;

}
.addCategoryForm{
  width: 100%;
  background: #f4f7f8;
  margin: 20px auto;
  padding: 30px 20px;
  background: #f4f7f8;
  border-radius: 8px;
  font-family: Georgia, "Times New Roman", Times, serif;
}
#addCategoriesBtn{
  background-color: #283963;
}
#transactionCategory{
  width: 63%;
  text-align: left;
}
.addTransactionComponent{
  margin-top: 100px;
  /*border: 1px solid black;*/
  padding: 0;
}

/* END ADD TRANSACTION PAGE*/

/*REGISTER PAGE*/

#registerPageContainer{
  font-family: 'Montserrat', sans-serif;
}

.registerForm{
  width: 100%;
 padding: 10px 20px;
  background: #f4f7f8;
  margin: 10px auto;
  padding: 20px;
  background: #f4f7f8;
  border-radius: 8px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.registerForm input{
  font-family: Georgia, "Times New Roman", Times, serif;
  background: rgba(255,255,255,.5);
  border: none;
  border-radius: 4px;
  font-size: 15px;
  margin: 0;
  outline: 0;
  padding: 10px;
  width: 100%;
  box-sizing: border-box; 
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box; 
  background-color: #e8eeef;
  color:black;
  -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  margin-bottom: 30px;
}
#registerBtn{
  background-color: #283963;
  position: relative;
  display: block;
  padding: 19px 39px 18px 39px;
  color: #FFF;
  margin: 0 auto;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  width: 100%;
  border-width: 1px 1px 3px;
  margin-bottom: 10px;
}
#registerBtn:hover{
  color: white;
  background-color: rgba(155,155,169,1);
}

/*END REGISTER PAGE*/

.breakdownDetails{
  font-family: Georgia, "Times New Roman", Times, serif;
}
.deets{
  background: #f4f7f8;
  width: 50%;
  margin: auto;
  padding: 30px 1px;
}
/*LOGIN PAGE*/
.loginForm{
  max-width: 1000px;
  padding: 10px 20px;
  background: #f4f7f8;
  margin: 10px auto;
  padding: 30px 20px;
  border-radius: 8px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.loginForm fieldset{
  border: none;
}
.loginForm label{
  display: block;
  margin-bottom: 8px;
  font-size: 22px;
}
.loginInput{
  font-family: Georgia, "Times New Roman", Times, serif;
  background: rgba(255,255,255,.5);
  border: none;
  border-radius: 4px;
  font-size: 15px;
  margin: 0;
  outline: 0;
  padding: 10px;
  width: 100%;
  box-sizing: border-box; 
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box; 
  background-color: #e8eeef;
  color:black;
  -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  margin-bottom: 30px;
}
#loginBtn{
  
  background-color: #283963;
  position: relative;
  display: block;
  padding: 19px 39px 18px 39px;
  color: #FFF;
  margin: 0 auto;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  width: 100%;
  border-width: 1px 1px 3px;
  margin-bottom: 10px;
}
#loginBtn:hover{
  color: white;
  background-color: rgba(155,155,169,1);
}
.avatar{
  text-align: center
}
.avatar img{
  width: 30%;
  height: 30%;
  border-radius: 10%;
}
/*END LOGIN PAGE*/



/*CHART PAGE*/

.chartContainer{
  margin-top: 50px;

}
/*END CHART PAGE*/


/*loader*/
.loader { 
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #17264b;
  border-bottom: 16px solid #17264b;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}
.loaderContainer{
  margin-top: 20%;
}
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
/* endloader*/

